:root {
    --bg-dark : hsl(0 , 0% , 0%);
    --bg : hsl(0 , 0% , 5%);
    --bg-light : hsl(0 , 0% , 10%);
    --text : hsl(0 , 0% , 95%);
    --text-muted : hsl(0 , 0% , 70%);
    --accent : hsl(261, 51%, 51%);
    --border : hsl(0 , 0% , 20%)
}

[data-theme='light'] {
    --bg-dark : hsl(0 , 0% , 90%);
    --bg : hsl(0 , 0% , 95%);
    --bg-light : hsl(0 , 0% , 100%);
    --text : hsl(0 , 0% , 5%);
    --text-muted : hsl(0 , 0% , 30%);
    --accent : hsl(261, 51%, 51%);
    --border : hsl(0 , 0% , 80%)
}

html{
    scrollbar-width: none !important;
    -ms-overflow-style: none !important;
}
html::-webkit-scrollbar {
    display: none !important;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--bg-dark);
    color: var(--text);
}

header{
    min-height: 5vh;
    width: 100vw;
    max-width: 1600px;
    background-color: var(--bg);
    border: 1px solid var(--border);
    box-sizing: border-box;
    display: flex;
    justify-content:space-around;
    gap: 40rem;
}

header > h1{
    display: inline-block;
    width: 20%;
    max-width: 50%;
}

header > nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
}

header > nav > ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0;
}

header > nav > ul > li >a{
    text-decoration: none;
    color: var(--text);
}

.auth-actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}

.auth-actions > button{
    all: unset;
    min-height: 4vh;
    width: 5vw;
    max-width: 10vw;
    border-radius: 5px;
    text-align: center;
    background-color: var(--bg-light);
    color: var(--text-muted);
    box-sizing: border-box;
    border: 1px solid var(--border);
}

main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 85vh;
    width: 100vw;
    max-width: 1600px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.graphicalViewLeft{
    min-height: 70%;
    width: 29%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.totalExpense{
    min-height: 49%;
    width: 100%;
    border-radius: 5px;
    border: 1px solid var(--border);
    background-color: var(--bg);
}

.expenseChart{
    min-height: 49%;
    width: 100%;
    border-radius: 5px;
    border: 1px solid var(--border);
    background-color: var(--bg);
}

.expenseTableRight{
    min-height: 70%;
    width: 69%;
    border-radius: 5px;
    border: 1px solid var(--border);
    background-color: var(--bg);
}